/* Background color and font of the entire page */
body {
    background-color: #1f1f21;
    font-family: Arial, Helvetica, sans-serif;
}

.rights {
    position: fixed;
    top: 5px;
    right: 5px;
    margin: 0;
    color: #45a0ff;
    font-size: 0.7rem;
}

.rights > a {
    color: #45a0ff;
}

/* Headings text is centered */
h1 {
    text-align: center;
    font-size: 3rem;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
}

/* Corresponding colors for inline span styling of h1 and h3 */
.rock-color {
    color: #e43ba7;
}

.paper-color {
    color: #45a0ff;
}

.scissors-color {
    color: #ffe53e;
}

/* Container with three images to choose the hand */
.choice-images {
    display: flex;
    justify-content: space-around;
}

/* Image borders and hovering effects */
.rock-image {
    border: 0.2rem solid #1f1f21;
    border-radius: 0.5rem;
    opacity: 0.8;
}

.paper-image {
    border: 0.2rem solid #1f1f21;
    border-radius: 0.5rem;
    opacity: 0.8;
}

.scissors-image {
    border: 0.2rem solid #1f1f21;
    border-radius: 0.5rem;
    opacity: 0.8;
}

.rock-image:hover {
    border: 0.2rem solid #e43ba7;
    cursor: grab;
}

.paper-image:hover {
    border: 0.2rem solid #45a0ff;
    cursor: grab;
}

.scissors-image:hover {
    border: 0.2rem solid #ffe53e;
    cursor: grab;
}

/* Horizontal line splitting the choice images area from hand choices area */
hr {
    border-color: #45a0ff;
    border-radius: 0.5rem;
}

/* Container for displaying player choice and computer choice + the result message */
.hand-choices {
    display: flex;
    justify-content: space-around;
}

/* Centers the captions above icons */
.player-choice-caption {
    text-align: center;
}

.computer-choice-caption {
    text-align: center;
}

/* Container for result message */
.result-container {
    display: flex;
    align-items: center;
    margin: 0rem 0.5rem 0rem 0.5rem;
}

/* Centering result message */
.result {
    text-align: center;
}

