body {
    background-color: #1f1f21;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
}

.choice-images {
    display: flex;
    justify-content: space-around;
}

hr {
    border-color: #45a0ff;
    border-radius: 0.5rem;
}

/* Corresponding colors for inline span styling of h1 and h3 */
.rock-color {
    color: #e43ba7;
}

.paper-color {
    color: #45a0ff;
}

.scissors-color {
    color: #ffe53e;
}

/* Image sizes and hovering effects */
.rock-image {
    border: 0.2rem solid #1f1f21;
    border-radius: 0.5rem;
    opacity: 0.8;
}

.paper-image {
    border: 0.2rem solid #1f1f21;
    border-radius: 0.5rem;
    opacity: 0.8;
}

.scissors-image {
    border: 0.2rem solid #1f1f21;
    border-radius: 0.5rem;
    opacity: 0.8;
    
}

.rock-image:hover {
    border: 0.2rem solid #e43ba7;
}

.paper-image:hover {
    border: 0.2rem solid #45a0ff;
}

.scissors-image:hover {
    border: 0.2rem solid #ffe53e;
}

/* Hand choices */
.hand-choices {
    display: flex;
    justify-content: space-around;
}

.player-choice-caption {
    text-align: center;
}

.computer-choice-caption {
    text-align: center;
}

.result {
    text-align: center;
}

.result-container {
    display: flex;
    align-items: center;
    margin: 0rem 0.5rem 0rem 0.5rem;
}